# Telegram
BOT_TOKEN=your_bot_token

# PostgreSQL
POSTGRES_DB=fm_bot
POSTGRES_USER=fm_user
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://fm_user:your_password@postgres:5432/fm_bot

# Настройки сбора
COLLECTION_START=2026-06-01
COLLECTION_END=2026-07-01
